{% macro renderSocials() %}
    <a class="socialsItem facebook" target="_blank" onclick="window.open(this.href, 'Popup', 'location=1,status=1,scrollbars=1, resizable=1, directories=1, toolbar=1, titlebar=1, width=600, height=600'); return false;" href="https://www.facebook.com/sharer/sharer.php?u={{app.request.uri}}"></a>

    <a class="socialsItem google" target="_blank" onclick="window.open(this.href, 'Popup', 'location=1,status=1,scrollbars=1, resizable=1, directories=1, toolbar=1, titlebar=1, width=600, height=600'); return false;" href="https://plus.google.com/share?url={{app.request.uri}}"></a>

    <a class="socialsItem twitter" target="_blank" onclick="window.open(this.href, 'Popup', 'location=1,status=1,scrollbars=1, resizable=1, directories=1, toolbar=1, titlebar=1, width=600, height=600'); return false;" href="https://twitter.com/home?status={{app.request.uri}}"></a>

    <a class="socialsItem pinterest" target="_blank" onclick="window.open(this.href, 'Popup', 'location=1,status=1,scrollbars=1, resizable=1, directories=1, toolbar=1, titlebar=1, width=600, height=600'); return false;" href="http://pinterest.com/pin/create/button/?url={{app.request.uri}}"></a>
{% endmacro %}
