{% extends '::base.html.twig' %}

{% block main %}
    {{ render(controller("NTContentBundle:ContentFrontend:search")) }}

    {% set haveSidebar = false %}
    {% if sideBar is defined and sideBar is not null and sideBar|length %}
        {% set haveSidebar = true %}
    {% endif %}
    <div class="row">
        {% if haveSidebar %}
            <div class="col-lg-2">
                <nav>
                    {{ sideBar|raw }}
                </nav>
                {# <nav>
                    <ul class="nav nav-pills nav-stacked navCustom">
                        <li class="active"><a href="about-us.php">За нас</a></li>
                        <li><a href="about-us.php">За компанията</a></li>
                        <li><a href="about-us.php">Дейност</a></li>
                    </ul>
                </nav> #}
            </div>
        {% endif %}  
        <div class="col-lg-{% if haveSidebar %}10{% else %}12{% endif %}">
            {% if content.description is defined and content.description is not null and content.description|length %}
                {{ content.description|raw }}
            {% endif %}
        </div>

        <?php include 'ssi/publish.php'; ?>
    </div>
    <!-- /.row -->
{% endblock %}
