{% if slides is defined and slides is not null and slides|length %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide mobileHidden">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for slide in slides %}
                <li data-target="#myCarousel" data-slide-to="{{loop.index0}}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="item{% if loop.index0 == 0 %} active{% endif %}">
                    <a {% if slide.url is not null and slide.url|length %}href="{{ slide.url }}" target="{{ slide.target }}"{% else %}href="javascript:;"{% endif %}>
                        <div class="fill" style="background-image:url({% path slide.translations[app.request.locale].image, 'index' %});"></div>
                        {% if slide.title is defined and slide.title is not null and slide.title|length %}
                            <div class="carousel-caption">
                                <h2>{{ slide.title }}</h2>
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        });
    </script>
{% endif %}
