<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>{{ 'all_rights_reserved'|trans({}, 'NTFrontendBundle')}}</p>
        </div>
    </div>
</footer>
<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> най-горе</div>
<script>
    $(document).ready(function(){
        {% if 'NTSliderBundle'|bundle_exists %}

        {% endif %}

        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });

        $('#toTop').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });
</script>
