    <div class="row">
        <div class="col-md-8">
            <p>{{ 'publish_company.box_title'|trans({}, 'NTFrontendBundle')}}</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="{{ path('publish_company') }}">
                {{ 'publish_company.publish'|trans({}, 'NTFrontendBundle')}}
            </a>
        </div>
    </div>